{% extends 'layouts/default.njk' %}

{% block body %}
  <div class="wrapper">
    <nav id="main">
      <div class="header">
        <strong>Minha biblioteca</strong>
        <a href="/signout">Sair</a>
      </div>
    </nav>
  </div>
{% endblock %}
